@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  text-decoration: none;
}

body {
  background-color: rgb(28, 36, 49);
}

.App__container {
  max-width: 140rem;
  margin: 0 auto;
}

header {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.5rem 5rem;
}

header img {
  max-width: 15rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.navbar ul li a {
  font-family: Raleway;
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
}

.navbar ul li a:hover {
  border-bottom: 2px solid rgb(255, 255, 255);
  transition: all 0.3s ease-in;
  border-radius: 2px;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  flex-wrap: wrap;
  row-gap: 2rem;
  background-image: url(../images/bg-curvy-desktop.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  transform: translateY(8%);
}

.hero-section .hero__text--area,
.hero-section .hero__image--area {
  flex: 1;
}

.hero__image--area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__image--area img {
  width: 70%;
  object-fit: contain;
}

.hero__text--area {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  row-gap: 1rem;
}

.lead__text {
  font-size: 3rem;
  line-height: 1.5;
  font-family: Raleway;
  color: rgb(255, 255, 255);
}

.sub__text {
  display: flex;
  align-self: center;
  font-size: 1.6rem;
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  font-weight: 600;
}
.btn {
  align-self: center;
  padding: 1.6rem 100px;
  border-radius: 100px;
  border: none;
  color: #fff;
  background-image: linear-gradient(
    to right,
    rgb(101, 226, 217),
    rgb(51, 158, 204)
  );
  font-family: Open Sans;
  font-weight: 600;
  cursor: pointer;
}
.btn:hover {
  background-image: linear-gradient(
    to right,
    rgba(101, 226, 217, 0.849),
    rgba(155, 213, 237, 0.849)
  );
}

.section__2 {
  background: rgb(24, 31, 42);
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  flex-wrap: wrap;
  gap: 100px;
  padding-top: 150px;
}
.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}
.section__2-imgs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.img-1 {
  margin-top: 1rem;
}
.section__2-imgs img {
  width: 20%;
}
.section__2-text-area {
  text-align: center;
  color: rgb(255, 255, 255);
  margin-top: 1.5rem;
}
.lead__text2 {
  font-size: 15px;
  line-height: 1.5;
  font-family: Raleway;
}
.sub__text2 {
  display: flex;
  align-self: center;
  font-size: 13px;
  font-family: Open Sans;
  font-weight: 600;
}
.productive {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.productive__text-box,
.productive__img {
  flex: 1;
}
.productive__img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.productive__img img {
  width: 95%;
  object-fit: contain;
}
.productive__text-box {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.second__heading {
  font-size: 40px;
  font-family: Raleway;
  color: rgb(255, 255, 255);
}
.first__text,
.second__text {
  font-size: 1.6rem;
  font-family: Open Sans;
  font-weight: 600;
  color: rgb(255, 255, 255);
  line-height: 1.5;
}
.section__2 .link {
  align-items: center;
  font-family: "Raleway", sans-serif;
  color: rgb(101, 226, 217);
  font-size: 12px;
  border-bottom: 2px solid rgb(101, 226, 217);
  border-radius: 2px;
  width: 12.9rem;
  font-weight: 500;
  text-decoration: none;
}
.section__2 .link a {
  text-decoration: none;
  color: rgb(101, 226, 217);
}
.section__2 .link a:hover {
  color: rgb(210, 238, 236);
}
.link:hover {
  color: rgb(210, 238, 236);
}

.section__3 {
  background-color: rgb(24, 31, 42);
  padding: 50px 0;
  
}
.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.card__1,
.card__2,
.card__3 {
  width: 25%;
  height: 170px;
  background-color: rgb(32, 42, 60);
  border-radius: 0.3rem;
  padding: 1.5rem;
  color: #fff;
  font-size: 15px;
  font-family: Open Sans;
  z-index: 2;
}

.testimonials .profile {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-top: 1.5rem;
}

.testimonials .profile p {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  line-height: 1.8rem;
}

.testimonials .profile span {
  font-weight: 700;
  display: block;
}

.testimonials .profile img {
  width: 3rem;
  border-radius: 50%;
}

.quote {
  transform: translate(13rem, 0.8rem);
  z-index: 1;
}

.section__4{
  background-color: rgb(24, 31, 42);
  position: relative;
}
.sign__up {
  width: 65%;
  margin: auto;
  background-color:  rgb(28, 36, 49);
  min-height: 40vh;
  border-radius: 0.5rem;
  transform: translate(10px, 125px);
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 5vw;
  box-shadow: 2px 2px 1px 3px rgba(0, 0, 0, 0.2);
}

.heading__4{
  font-family: Raleway;
  font-size: 30px;
}

.sub__text-4{
  font-family: Open Sans;
  font-size: 15px;
}


.form input[type="email"] {
  width: 50%;
  padding: 1.3rem;
  border-radius: 100px;
  border: 1px solid rgb(88, 89, 137);
  margin-right: 2%;
  box-shadow: -8px 7px 9px 6px rgba(0, 0, 0, 0.29);
  font-family: Open Sans;
  font-weight: 600;
  margin-bottom: 2rem;
}

.form input[type="button"] {
  width: 30%;
  padding: 1.3rem;
  color: #ffffff;
  background-image: linear-gradient(
    to right,
    rgb(101, 226, 217),
    rgb(51, 158, 204)
  );
  border: none;
  border-radius: 100px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.form input[type="button"]:hover {
  cursor: pointer;
  background-color: rgb(96, 139, 255);
  transition: all 0.3s ease-in;
}

.show{
  display: block;
}

.hide{
  display: none
}

.footer__box {
  padding: 164px 50px;
  background-color:rgb(11, 21, 35);
  flex-direction: row;
  font-family: "Raleway";
  display: flex;
  justify-content: space-evenly;
}

.info{
  display: flex;
  flex-direction: column;
  align-items: flex-start ;
  gap: 3.5rem;
}
.info img{
  height: 3rem;
}

.location{
  display: flex;
  color: #fff;
  gap: 1.5rem;
}

.location p{
  font-size: 15px;
}
.location img{
  height: 1.5rem;
}

.footer .phone,
.footer .email {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  gap: 1.2rem;
  font-weight: 500;
  font-size: 15px;
}

.footer .contact {
  display: flex;
  flex-direction: column;
  margin-top: 62px;
  gap: 1.5rem;
}

.footer-links {
  display: flex;
  color: #fff;
  justify-content: space-around;
  align-items: center;
}

.footer .contact img {
  width: 2rem;
}

.footer-links ul {
  margin-top: 4rem;
  list-style: none;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.footer-links ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.footer-links ul li a:hover {
 font-weight: 900;
}


.social__media{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3rem;
  font-size: 2rem;
  cursor: pointer;
}

.social__media i{
  border: 1px solid #fff;
  color: #fff;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: inline-flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

.social__media i:hover{
  border: 2px solid  rgb(96, 139, 255);
  color: rgb(96, 139, 255);
}
